<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78128439214-92g3f905faq1isom586hebac50m9gvf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78128439214-92g3f905faq1isom586hebac50m9gvf4</string>
	<key>API_KEY</key>
	<string>AIzaSyBd_W_B4k6j3LbVmTU1KywS5krBI-TYpFk</string>
	<key>GCM_SENDER_ID</key>
	<string>78128439214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.-019S1-Lab-3</string>
	<key>PROJECT_ID</key>
	<string>week6-44239</string>
	<key>STORAGE_BUCKET</key>
	<string>week6-44239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78128439214:ios:5ec5e93aee80b96c2af23f</string>
	<key>DATABASE_URL</key>
	<string>https://week6-44239.firebaseio.com</string>
</dict>
</plist>